.button-theme {
    border-radius: .25rem;
    background-color: var(--primary-color);
    color: var(--bs-white);
    font-size: calc(var(--size-md) + .1em);
    font-weight: 700;
    padding: 8px 15px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-theme:hover {
    background-color: var(--primary-hover);
}

.header {
    background-color: var(--primary-color);
}

.header .header-navigation {
    margin-left: 45px;
}

.header .header-navigation > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header .header-navigation > ul > li + li {
    margin-left: 10px;
}

.header .header-navigation > ul > li > a {
    color: var(--bs-white);
    font-weight: 800;
    font-size: var(--size-lg);
    text-transform: uppercase;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-navigation > ul > li > a:hover {
    background-color: rgba(var(--bs-white-rgb), .35);
}

.section-banner .banner-image:before {
    display: block;
    content: "";
    padding-top: calc(509 / 1349 * 100%);
}

.section-banner .banner-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: .5;
    z-index: 2;
    display: block;
    content: "";
}

.section-banner .banner-form .banner-heading {
    font-size: calc(2.75 * var(--size-md));
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bs-white);
    line-height: 52px;
    text-align: center;
    margin-bottom: 40px;
}

.section-banner .banner-form .banner-heading > span {
    color: var(--primary-color);
}

.section-banner .banner-form .form-group .form-item > span {
    background-color: var(--bs-white);
    height: 44px;
    border-radius: .25rem;
    border: 1px solid var(--gray-200);
    padding: 10px 45px 10px 15px;
    display: block;
    width: 100%;
    font-size: calc(var(--size-md) + .1em);
    cursor: pointer;
    position: relative;
    color: var(--gray-800);
    transition: var(--transition);
}

.section-banner .banner-form .form-group .form-item > span:before {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-size: var(--size-xl);
    color: var(--gray-800);
    content: "\f107";
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    transition: var(--transition);
}

.section-banner .banner-form .form-group .form-item .button-theme {
    width: 100%;
    height: 44px;
    text-transform: uppercase;
}

.section-banner .banner-form .form-group .form-item .form-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bs-white);
    border-radius: .25rem;
    border: 1px solid var(--gray-200);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0.7);
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: top;
    z-index: 3;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    padding: 5px 0;
}

.section-banner .banner-form .form-group .form-item .form-list > li > a {
    position: relative;
    display: block;
    padding: 7px 12px;
    overflow: hidden;
    color: var(--gray-700);
    font-size: var(--size-md);
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.section-banner .banner-form .form-group .form-item .form-list > li > a:hover,
.section-banner .banner-form .form-group .form-item .form-list > li > a.is-active {
    background-color: #e6f7ff
}

.section-banner .banner-form .form-group .form-item.is-show .form-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.section-banner .banner-form .form-group .form-item.is-show > span:before {
    transform: rotate(180deg) translateY(50%);
}

.section-content {
    margin-top: -70px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.sidebar .sidebar-item .sidebar-card {
    border: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.sidebar .sidebar-item .sidebar-card .card-header {
    background-color: var(--primary-color);
    padding: 10px 10px 11px;
    font-size: calc(var(--size-lg) + .1em);
    font-weight: 700;
    color: var(--bs-white);
    border-bottom: 0;
    text-transform: uppercase;
}

.sidebar .sidebar-item .sidebar-card .card-body {
    padding: 10px;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item .card-list_item--icon {
    flex-shrink: 0;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item .card-list_item--icon > img {
    max-width: 100%;
    height: auto;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item .card-list_item--content {
    width: 100%;
    padding-right: 10px;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item .card-list_item--content .card-list_item--title {
    font-size: var(--size-lg);
    font-weight: 800;
    color: var(--gray-900);
    margin-bottom: .15rem;
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item .card-list_item--content .card-list_item--desc {
    color: var(--gray-600);
}

.sidebar .sidebar-item .sidebar-card .card-body .card-list .card-list_item + .card-list_item {
    margin-top: .75rem;
    padding-top: .75rem;
    border-top: 1px solid var(--gray-200);
}

.sidebar .sidebar-item .sidebar-form {
    border-radius: .25rem;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    padding: 10px;
    background: var(--primary-gradient);
}

.sidebar .sidebar-item .sidebar-form .sidebar-form_item .sidebar-form_item--heading {
    font-size: calc(var(--size-lg) + .1em);
    font-weight: 700;
    color: var(--bs-white);
    text-transform: uppercase;
    text-align: center;
}

.sidebar .sidebar-item .sidebar-form .sidebar-form_item button {
    background-color: var(--bs-white);
    width: 100%;
    height: 44px;
    text-transform: uppercase;
    border-radius: 0.25rem;
    color: var(--primary-color);
    font-size: calc(var(--size-md) + .1em);
    font-weight: 700;
    padding: 8px 15px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-item .sidebar-form .sidebar-form_item .form-control {
    height: 44px;
    padding: 7px 15px 10px;
}

.sidebar .sidebar-item .sidebar-form .sidebar-form_item + .sidebar-form_item {
    padding-top: 10px;
}

.sidebar .sidebar-item .sidebar-image {
    border-radius: .25rem;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    background-color: var(--primary-color);
    position: relative;
}

.sidebar .sidebar-item .sidebar-image .icon-play {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--bs-white);
    width: 60px;
    height: 60px;
    font-size: var(--size-xxxl);
}

.sidebar .sidebar-item .sidebar-image .sidebar-image_button {
    position: absolute;
    background: var(--primary-gradient);
    height: 40px;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--bs-white);
    font-size: calc(var(--size-md) + .1em);
    font-weight: 700;
    padding: 8px 25px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: auto;
}

.sidebar .sidebar-item + .sidebar-item {
    margin-top: 1rem;
}

.section-item + .section-item {
    margin-top: 1rem;
}

.salary-card,
.position-card {
    border: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.salary-card .card-header,
.position-card .card-header {
    background-color: var(--primary-color);
    padding: 10px 10px 11px;
    font-size: calc(var(--size-lg) + .1em);
    font-weight: 700;
    color: var(--bs-white);
    border-bottom: 0;
    text-transform: uppercase;
}

.salary-item {
    position: relative;
    display: flex;
    padding: 15px;
}

.salary-item .salary-content {
    width: 100%;
}

.salary-item .salary-content .salary-title {
    font-size: var(--size-lg);
    font-weight: 700;
    color: var(--gray-900);
    margin-bottom: 0.25rem;
}

.salary-item .salary-content .salary-text {
    font-size: calc(var(--size-md) + .05em);
    color: var(--gray-800);
}

.salary-item .salary-label {
    width: 100px;
    padding-left: 10px;
    margin-left: auto;
    flex-shrink: 0;
}

.salary-item .salary-label .label {
    text-align: center;
    color: var(--bs-white);
    text-transform: uppercase;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 3px;
    max-width: 70px;
    font-size: var(--size-md);
    font-weight: 700;
}

.salary-item .salary-label .label.label-hot {
    background-color: #eb2222;
}

.salary-item .salary-label .label.label-new {
    background-color: var(--primary-color);
}

.salary-item + .salary-item {
    border-top: 1px solid var(--gray-200);
}

.position-card .card-body .position-item .position-collapse {
    background-color: #fafafa;
    border: 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: var(--size-md);
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    padding: 15px;
    padding-left: 35px;
    position: relative;
}

.position-card .card-body .position-item .position-collapse:before {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-size: var(--size-xxl);
    color: var(--gray-800);
    content: "\f107";
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    transition: var(--transition);
    font-weight: 300;
}

.position-card .card-body .position-item .position-collapse[aria-expanded=false]:before {
    transform: translateY(-50%) rotate(180deg);
}

.position-card .card-body .position-item .position-list {
    padding: 15px;
}

.position-card .card-body .position-item .position-list > ul > li > a {
    display: block;
    padding: 4px 0;
    font-size: calc(var(--size-md) + 0.05em);
    color: var(--gray-800);
}

.position-card .card-body .position-item .position-list > ul > li > a:hover {
    text-decoration: underline;
}

.position-card .card-body .position-item + .position-item {
    border-top: 1px solid var(--gray-200);
}

.article-card {
    border: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.article-card .card-header {
    background-color: var(--primary-color);
    padding: 10px 10px 11px;
    font-size: calc(var(--size-lg) + .1em);
    font-weight: 700;
    color: var(--bs-white);
    border-bottom: 0;
    text-transform: uppercase;
}

.article-item_card {
    border: 0;
    border-radius: 0;
}

.article-item_card .card-body .card-title {
    font-size: var(--size-lg);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: 700;
    color: var(--gray-900);
    margin-bottom: .25rem;
}

.article-item_card .card-body .card-text {
    font-size: calc(var(--size-md) + .05em);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--gray-800);
}

.article-item_card + .article-item_card {
    border-top: 1px solid var(--gray-200);
}

.modal-theme.modal-theme_article .modal-header,
.modal-theme.modal-theme_apply .modal-header {
    border-bottom: 0;
    position: relative;
    padding-right: 50px;
}

.modal-theme.modal-theme_article .modal-header .modal-title,
.modal-theme.modal-theme_apply .modal-header .modal-title {
    font-size: var(--size-xl);
    font-weight: 700;
    color: var(--gray-900);
}

.modal-theme.modal-theme_article .modal-header .button-close,
.modal-theme.modal-theme_apply .modal-header .button-close {
    position: absolute;
    top: 12px;
    right: 5px;
    border: 0;
    padding: 0;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-400);
    font-size: var(--size-xxl);
    transition: var(--transition);
    background-color: transparent;
}

.modal-theme.modal-theme_article .modal-header .button-close:hover,
.modal-theme.modal-theme_apply .modal-header .button-close:hover {
    color: var(--gray-900);
}

.modal-theme.modal-theme_job .modal-header .button-close {
    position: absolute;
    top: 12px;
    right: 5px;
    border: 0;
    padding: 0;
    padding-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-800);
    font-size: var(--size-xxl);
    transition: var(--transition);
    z-index: 3;
    line-height: 1;
}

.modal-theme.modal-theme_job .modal-header .button-apply {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    background: var(--primary-gradient);
    height: 40px;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--bs-white);
    font-size: calc(var(--size-md) + .1em);
    font-weight: 700;
    padding: 8px 25px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px #ccc;
    z-index: 5;
}

.modal-theme.modal-theme_apply .modal-header {
    background-color: var(--primary-color);
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.modal-theme.modal-theme_apply .modal-header .modal-title {
    color: var(--bs-white);
}

.modal-theme.modal-theme_apply .modal-header .button-close {
    top: 10px;
}

.modal-theme.modal-theme_apply .modal-header .button-close:hover {
    color: var(--bs-white);
}

.modal-theme.modal-theme_apply .modal-body {
    padding: .75rem;
}

.modal-theme.modal-theme_apply .modal-body .form-item label {
    font-weight: 900;
    font-size: var(--size-md);
    margin-bottom: .25rem;
}

.modal-theme.modal-theme_apply .modal-body .form-item .form-control {
    height: 44px;
    padding: 7px 15px 10px;
    border-color: var(--gray-200);
    width: 100%;
    font-size: calc(var(--size-md) + .1em);
}

.modal-theme.modal-theme_apply .modal-body .form-item .form-control::placeholder {
    color: var(--gray-400);
}

.modal-theme.modal-theme_apply .modal-body .form-item .initDropdown-btn {
    background-color: var(--bs-white);
    height: 44px;
    border-radius: 0.25rem;
    border: 1px solid var(--gray-200);
    padding: 10px 45px 10px 15px;
    display: block;
    width: 100%;
    font-size: calc(var(--size-md) + .1em);
    cursor: pointer;
    position: relative;
    transition: var(--transition);
    color: var(--gray-400);
}

.modal-theme.modal-theme_apply .modal-body .form-item .initDropdown-btn.is-value {
    color: var(--gray-800);
}

.modal-theme.modal-theme_apply .modal-body .form-item .initDropdown-btn:before {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-size: var(--size-xl);
    color: var(--gray-800);
    content: "\f107";
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    transition: var(--transition);
}

.modal-theme.modal-theme_apply .modal-body .form-item .form-list {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--bs-white);
    border-radius: .25rem;
    border: 1px solid var(--gray-200);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(0.7);
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform-origin: top;
    z-index: 3;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    padding: 5px 0;
}

.modal-theme.modal-theme_apply .modal-body .form-item .form-list > li > a {
    position: relative;
    display: block;
    padding: 7px 12px;
    overflow: hidden;
    color: var(--gray-700);
    font-size: var(--size-md);
    cursor: pointer;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.modal-theme.modal-theme_apply .modal-body .form-item .form-list > li > a:hover,
.modal-theme.modal-theme_apply .modal-body .form-item .form-list > li > a.is-active {
    background-color: #e6f7ff
}

.modal-theme.modal-theme_apply .modal-body .form-item .initDropdown.is-show .form-list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scaleY(1);
}

.modal-theme.modal-theme_apply .modal-body .form-item .initDropdown.is-show > span:before {
    transform: rotate(180deg) translateY(50%);
}

.modal-theme.modal-theme_apply .modal-body .form-item .button-theme {
    background: var(--primary-gradient);
    height: 40px;
    text-transform: uppercase;
    border-radius: 20px;
    color: var(--bs-white);
    font-size: calc(var(--size-md) + .1em);
    font-weight: 700;
    padding: 8px 25px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.modal-theme .modal-body {
    font-size: calc(var(--size-md) + .05em);
    color: var(--gray-800);
    font-weight: 500;
    padding-top: 0;
}

.modal-theme .modal-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.modal-theme .modal-body h2 {
    font-weight: 800;
    color: #000;
    font-size: 1.4rem;
}

.modal-theme .modal-body h3 {
    font-weight: 800;
    color: #000;
    font-size: 1.3rem;
}

.modal-theme .modal-body h4 {
    font-weight: 800;
    color: #000;
    font-size: 1.2rem;
}

.modal-theme .modal-body h5 {
    font-weight: 800;
    color: #000;
    font-size: 1.1rem;
}

.modal-theme .modal-body h6 {
    font-weight: 800;
    color: #000;
    font-size: 1rem;
}

.modal-theme .modal-body p,
.modal-theme .modal-body ul {
    margin-bottom: .5rem;
}

.modal-theme .modal-body p:last-child,
.modal-theme .modal-body ul:last-child {
    margin-bottom: 0;
}

.modal-theme .modal-dialog {
    -webkit-transform: scale(.9) !important;
    -moz-transform: scale(.9) !important;
    -ms-transform: scale(.9) !important;
    transform: scale(.9) !important;
    top: -90px;
    opacity: 0;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.modal-theme.show .modal-dialog {
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    transform: scale(1) !important;
    -webkit-transform: translate3d(0, 90px, 0) !important;
    transform: translate3d(0, 90px, 0) !important;
    opacity: 1;
}

.section-slider {
    position: relative;
}

.section-slider .swiper-pagination {
    z-index: 3;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) !important;
}

.section-slider .swiper-pagination .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
}

.section-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

.footer {
    background-color: #000;
    padding: 45px 0;
    color: #fff;
    text-align: center;
    font-size: calc(var(--size-md) + 0.05em);
}

.footer .footer-title {
    font-size: var(--size-xl);
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.footer .footer-text {
    margin-bottom: 5px;
}

.footer .footer-social {
    margin-top: 15px;
}

.footer .footer-social > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer .footer-social > ul li + li {
    margin-left: 15px;
}

.footer .footer-social > ul li a {
    color: var(--bs-white);
    font-size: var(--size-lg);
    opacity: .8;
}

.footer .footer-social > ul li a:hover {
    color: var(--bs-white);
    opacity: 1;
}

.footer .footer-copyright {
    color: var(--gray-400);
    margin-top: 15px;
}

@media screen and (max-width: 991px) {
    .header {
        padding: 10px 0;
    }

    .header .header-logo img {
        max-height: 40px;
    }

    .header .header-navigation {
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        max-height: 100vh;
        padding-bottom: 70px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 75%;
        max-width: 425px;
        -webkit-transition: visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
        transition: visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
        -o-transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1);
        transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1);
        transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1), opacity .5s cubic-bezier(.645, .045, .355, 1), -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
        background: var(--bs-white);
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transform: translate3d(104%, 0, 0);
        transform: translate3d(104%, 0, 0);
        z-index: 21;
        margin-left: 0;
    }

    .header .header-navigation > ul {
        display: flex;
        flex-direction: column;
    }

    .header .header-navigation > ul > li {
        width: 100%;
    }

    .header .header-navigation > ul > li > a {
        display: block;
        width: 100%;
        padding: 12px 15px;
        border-bottom: var(--gray-200);
        background-color: #f6f6f6;
        color: var(--gray-900);
    }

    .navigation-show .header .header-navigation {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .header .header-overlay {
        position: fixed;
        z-index: 5;
        background-color: rgba(var(--bs-dark-rgb), .75);
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }

    .navigation-show .header .header-overlay {
        right: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .header .hamburger-icon {
        border: 0;
        padding: 5px;
        background: transparent;
        border-radius: 0;
        color: var(--bs-white);
        width: 34px;
        height: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
    }

    .header .hamburger-icon > span {
        display: block;
        position: absolute;
        height: 1.5px;
        background: var(--bs-white);
        border-radius: 9px;
        opacity: 1;
        left: 5px;
        right: 5px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .header .hamburger-icon > span:nth-child(1) {
        top: 9px;
    }

    .header .hamburger-icon > span:nth-child(2),
    .header .hamburger-icon > span:nth-child(3) {
        top: 17px;
    }

    .header .hamburger-icon > span:nth-child(4) {
        top: 25px;
    }

    .navigation-show .header .hamburger-icon > span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navigation-show .header .hamburger-icon > span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .navigation-show .header .hamburger-icon > span:nth-child(1),
    .navigation-show .header .hamburger-icon > span:nth-child(4) {
        top: 17.5px;
        width: 0;
        left: 50%;
    }

    .section-banner .banner-form .banner-heading {
        font-size: var(--size-xxxl);
        line-height: 35px;
    }

    .section-banner .banner-image:before {
        padding-top: 75%;
    }

    .section-banner .banner-form .form-group .form-item > span {
        padding-left: 10px;
        font-size: var(--size-md);
    }

    .section-content {
        margin-top: 1rem;
    }

    .salary-item .salary-label {
        width: 60px;
    }

    .salary-item .salary-label .label {
        max-width: 50px;
    }

    .article-item_card .card-body {
        padding-top: .75rem !important;
    }
}